<div class="container-fluid px-4">
  <h1 class="mt-4 mb-3">Categories</h1>
  <div class="card mb-4">
      <div class="card-body">
        <p style="color: green"><%= notice %></p>

        <div id="categories">
          <table class="table table-striped table-bordered">
            <thead>
              <th>#</th>
              <th>Descrição</th>
              <th>Ativo</th>
            </thead>
            <tbody>
              <% @categories.each do |category| %>
                  <%= render category %>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= link_to "New category", new_category_path %>
      </div>
  </div>
</div>
